.floating-socials{
    position: fixed;
    right: 24px;
    bottom: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 9999;
}

.social-list{
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-bottom: 14px;
}

.whatsapp-btn{
    width:60px;
    height:60px;

    border:none;
    outline:none;

    border-radius:50%;

    background:#25D366;

    color:#fff;

    cursor:pointer;

    display:flex;
    align-items:center;
    justify-content:center;

    box-shadow:0 10px 30px rgba(0,0,0,.20);

    transition:.30s ease;
}

.whatsapp-btn:hover{
   transform:scale(1.08);

    box-shadow:
        0 15px 35px rgba(37,211,102,.45);
}

.social-list a{

    width:50px;
    height:50px;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    text-decoration:none;

    color:#fff;

    box-shadow:0 8px 20px rgba(0,0,0,.15);

    transition:.25s;
}

.social-list a:hover{
    transform:scale(1.08);
}



.social-list a:nth-child(1){
    background:#0077B5;
}

/* Instagram */

.social-list a:nth-child(2){
    background:linear-gradient(
        45deg,
        #F58529,
        #DD2A7B,
        #8134AF,
        #515BD4
    );
}

/* Canlı Destek */

.social-list a:nth-child(3){
    background:#3B82F6;
}

/* Mail */

.social-list a:nth-child(4){
    background:#EA4335;
}

/* Telefon */

.social-list a:nth-child(5){
    background:#111827;
}

.social-item {
    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;

    width:50px;
    height:50px;

    border-radius:50%;

    color:#fff;

    text-decoration:none;

    box-shadow:0 8px 20px rgba(0,0,0,.15);

    opacity:0;

    visibility:hidden;

    transform:translateY(20px);

    transition:
        opacity .35s ease,
    transform .35s cubic-bezier(.22,1,.36,1),
    visibility .35s;
}

.social-label {
    position: absolute;
    right: 65px; /* ikonun solunda dursun */

    white-space: nowrap;

    padding: 8px 14px;

    background: rgba(255,255,255,.95);
    color: #1f2937;

    border-radius: 10px;

    font-size: 14px;
    font-weight: 600;

    box-shadow: 0 10px 25px rgba(0,0,0,.12);

    opacity: 0;

    visibility: hidden;

    transform: translateX(15px);

    transition: all .25s ease;
}

.social-item:hover .social-label{
    opacity: 1;
    visibility: visible;
    transform:translateY(0) scale(1.08);

    box-shadow:
        0 15px 35px rgba(0,0,0,.20);
}
.social-list.open .social-item{

    opacity:1;

    visibility:visible;

    transform:translateY(0);
}
.social-item:nth-child(1){
    transition-delay: .20s;
}

.social-item:nth-child(2){
    transition-delay: .16s;
}

.social-item:nth-child(3){
    transition-delay: .12s;
}

.social-item:nth-child(4){
    transition-delay: .08s;
}

.social-item:nth-child(5){
    transition-delay: .04s;
}